@import "normalize.css";
@font-face {
  font-family: SegoeWP;
  src: url("../fonts/Segoe WP Regular.ttf");
}
body {
  display: flex;
}
body .main-wrapper {
  margin: auto;
  flex-basis: 1280px;
  font-family: SegoeWP;
  border: solid 1px rgba(0, 0, 1, 0.16);
}

.header-content__your-cart button:hover {
  background-image: linear-gradient(to top, #424242, #242424);
}
.header-content__your-cart button:active {
  background-image: linear-gradient(to top, #c2d1dc, rgba(36, 36, 36, 0.58));
}

.account-nav-container {
  background-color: #424242;
}

.account-nav {
  width: 984px;
  margin: 0 auto;
  display: flex;
  height: 28px;
  justify-content: flex-end;
  align-items: center;
  background-color: #424242;
}
.account-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 319px;
  height: 16px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}
.account-nav ul li a {
  padding: 1px;
  text-decoration: none;
  color: white;
}
.account-nav ul li a:hover {
  color: #FFCC00;
}
.account-nav ul li a:active {
  background-image: linear-gradient(to top, #858991, rgba(36, 36, 36, 0.58));
  color: #fdca01;
  border-radius: 2px;
}

.header-content-container {
  background-color: #f4f4f4;
  width: 1280px;
}

.header-content {
  height: 112px;
  width: 990px;
  margin: 0 auto;
  padding-right: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content__books-online {
  margin-right: 43px;
}

.header-content__search-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #79b260;
  height: 40px;
  width: 458px;
  border-radius: 2px;
  padding-left: 4px;
  margin-right: 52px;
}

.magnifying-glass {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30px;
  width: 25px;
  transform: rotate(315deg);
}
.magnifying-glass #magnifying_circle {
  width: 16px;
  height: 16px;
  border: solid 3px white;
  border-radius: 50%;
  background-color: #79b260;
}
.magnifying-glass #stick-for__magnifying-circle {
  margin-top: -2px;
  margin-left: 5px;
  height: 8px;
  width: 5px;
  border-left: 5px solid white;
}

#search {
  height: 33px;
  width: 328px;
  outline: none;
  margin: 0;
  padding: 0;
}

#search-button {
  width: 125px;
  height: 40px;
  background-color: #79b260;
  border: none;
  color: white;
  font-size: 23px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 2px;
  padding-bottom: 3px;
}
#search-button:hover {
  color: #FFCC00;
}
#search-button:active {
  background-image: linear-gradient(to top, rgba(61, 253, 1, 0.3), rgba(91, 163, 78, 0.65));
  text-shadow: 1px 1px 2px black;
}
#search-button span {
  padding-bottom: 3px;
}

.header-content__your-cart {
  width: 193px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: solid 1px grey;
}
.header-content__your-cart .my-cart {
  width: 192px;
  display: flex;
  justify-content: space-between;
}
.header-content__your-cart .items {
  display: flex;
  width: 157px;
  color: #6d6d6d;
  font-size: 23px;
}
.header-content__your-cart .items div {
  font-size: 14px;
  padding-top: 9px;
  padding-left: 6px;
}
.header-content__your-cart .checkout {
  width: 185px;
  display: flex;
  justify-content: space-between;
}
.header-content__your-cart .total-cost {
  font-size: 27px;
  font-weight: bold;
  color: #6d6d6d;
  padding-left: 3px;
  letter-spacing: 0.5px;
}
.header-content__your-cart button {
  margin-right: 8px;
  align-self: end;
  height: 26px;
  width: 81px;
  background-image: linear-gradient(to top, #242424, #424242);
  box-shadow: inset 0.5px 0.9px 0 0 rgba(118, 118, 118, 0.75);
  color: white;
  border: none;
  border-radius: 1px;
  font-size: 15px;
}

.header-content__wish-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 19px;
  padding-bottom: 15px;
  width: 90px;
  height: 50px;
}
.header-content__wish-list .twenty {
  margin-left: 78px;
  margin-top: -35px;
  align-self: end;
  display: flex;
  justify-content: center;
  font-size: 13px;
  font-family: SegoeWP;
  color: white;
  width: 28px;
  height: 16px;
  border: none;
  border-radius: 20px;
  background-color: #79b260;
}
.header-content__wish-list .round-for-star {
  background-color: #424242;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 0 auto -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-content__wish-list .star {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 1.2em;
  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid #f2f2f3;
  border-left: 0.3em solid transparent;
  /* Controls the size of the stars. */
  font-size: 9px;
}
.header-content__wish-list .star:before, .header-content__wish-list .star:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0.6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #f2f2f3;
  border-left: 1em solid transparent;
  transform: rotate(-35deg);
}
.header-content__wish-list .star:after {
  transform: rotate(35deg);
}
.header-content__wish-list .wish-list {
  padding-top: 13px;
  width: 77px;
  word-spacing: 4px;
  letter-spacing: -1px;
  color: #6d6d6d;
  font-size: 21px;
}

.main-nav-wrapper {
  display: flex;
  flex-basis: 1280px;
  height: 40px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #bfbfbf;
}

.main-nav ul {
  width: 987px;
  height: 19px;
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  list-style: none;
  align-items: center;
  padding: 0 5px 0 0;
}
.main-nav ul li a {
  padding: 8px;
  text-decoration: none;
  color: #5b5b5b;
}
.main-nav ul li a:hover {
  color: #ff0000;
  font-size: 20px;
  font-weight: bold;
}
.main-nav ul li a:active {
  background-image: linear-gradient(to top, #79b260, #92d774);
  color: white;
}

#main-content-wrapper {
  margin-top: 14px;
  width: 1280px;
  display: flex;
  justify-content: center;
}
#main-content-wrapper .title-science-fiction {
  font-size: 24px;
  font-weight: 300;
  color: #464646;
  border: solid 1px #d8dce0;
  box-sizing: border-box;
  border-bottom: none;
  width: inherit;
}
#main-content-wrapper .title-science-fiction h4 {
  margin: 18px 0 15px 30px;
}
#main-content-wrapper .product-list-content {
  width: 996px;
  display: flex;
  justify-content: center;
}
#main-content-wrapper .product-list-content section {
  width: 798px;
  height: 1118px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
#main-content-wrapper .product-list-content section #page-number {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 138px;
  height: 28px;
  font-size: 16px;
  font-weight: 300;
  color: #646464;
  margin: 0 0 0 631px;
  padding: 0;
}
#main-content-wrapper .product-list-content section #page-number:hover {
  color: #FFCC00;
}
#main-content-wrapper .product-list-content section #page-number li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 24px;
  padding: 0;
  list-style: none;
}
#main-content-wrapper .product-list-content section #page-number li a {
  text-decoration: none;
  color: #646464;
}
#main-content-wrapper .product-list-content section #page-number li a:hover {
  color: red;
  font-size: 20px;
  font-weight: bold;
}
#main-content-wrapper .product-list-content section #page-number li a:active {
  padding-top: 2px;
  height: 23px;
  width: 24px;
  border: 1px solid #bfbfbf;
  border-bottom: 4px solid #94bc6b;
  text-align: center;
}
#main-content-wrapper .product-list-content section #page-number .three {
  padding-top: 2px;
  height: 23px;
  border: 1px solid #bfbfbf;
  border-bottom: 4px solid #94bc6b;
}
#main-content-wrapper .product-list-content section .product-list__best-sellers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 5px;
  border: solid 1px #d8dce0;
  border-top: none;
}
#main-content-wrapper .product-list-content section .product-list__best-sellers a {
  text-decoration: none;
  color: #555454;
}
#main-content-wrapper .product-list-content section .product-list__best-sellers a:hover {
  color: black;
  font-weight: bold;
}
#main-content-wrapper .product-list-content section .product-list__best-sellers a:active {
  color: red;
  font-weight: bold;
}
#main-content-wrapper .product-list-content section .product-list__best-sellers div {
  position: relative;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  color: #646464;
  height: 256px;
  width: 125px;
  display: flex;
  flex-direction: column;
  padding-left: 9px;
}
#main-content-wrapper .product-list-content section .product-list__best-sellers div .discount {
  align-self: end;
  position: absolute;
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  background-color: #f05356;
  padding: 0;
  color: white;
  font-size: 19px;
}
#main-content-wrapper .product-list-content section .product-list__best-sellers div .discount span {
  color: #ffffff;
  font-family: SegoeWP;
  font-size: 19px;
  font-weight: bold;
}
#main-content-wrapper .product-list-content section .product-list__best-sellers div .discount .off {
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
}
#main-content-wrapper .product-list-content section .product-list__best-sellers div p {
  margin: 0;
}
#main-content-wrapper .product-list-content section .product-list__best-sellers div img {
  height: 159px;
}
#main-content-wrapper .product-list-content section .product-list__best-sellers div span {
  display: block;
  font-weight: bold;
  font-size: 22px;
  color: #f05356;
}
#main-content-wrapper .product-list-content section .product-list__best-sellers .art {
  color: inherit;
  font: inherit;
}
#main-content-wrapper .product-list-content section .product-list__best-sellers .immortals {
  padding: 0 7px;
}

aside .categories__content li a:hover, aside .categories__content li:hover, aside .categories__content button:hover {
  color: red;
}
aside .categories__content li a:active, aside .categories__content li:active, aside .categories__content button:active {
  background-image: linear-gradient(to top, rgba(61, 253, 1, 0.3), rgba(91, 163, 78, 0.65));
  text-shadow: 1px 1px 2px black;
  color: #ffffff;
}

aside {
  width: 188px;
  height: 864px;
  border: solid 1px rgba(0, 0, 1, 0.16);
  margin-right: 9px;
  box-sizing: border-box;
}
aside .categories__content #categories {
  font-size: 24px;
  font-weight: 300;
  color: #6b6969;
  padding-left: 18px;
  margin: 11px 0 7px 0;
}
aside .categories__content button {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 186px;
  height: 29px;
  border: none;
  color: #555454;
  padding-left: 21px;
  font-weight: bold;
}
aside .categories__content ul {
  padding-left: 0;
  margin: 8px 0;
}
aside .categories__content ul .list-title {
  margin: 0 0 4px 19px;
  color: black;
  font-weight: bold;
}
aside .categories__content ul .last {
  border: none;
}
aside .categories__content li {
  list-style: none;
  font-weight: 600;
  width: 186px;
}
aside .categories__content li div {
  margin-left: 24px;
}
aside .categories__content li div {
  display: flex;
  align-items: center;
  height: 26px;
  width: 139px;
  border-bottom: 1px solid rgba(0, 0, 1, 0.16);
}
aside .categories__content li a {
  text-decoration: none;
  color: #555454;
}

footer {
  display: flex;
  flex-direction: column;
  color: #dddddd;
  margin-top: 25px;
  height: 513px;
  background-color: #434243;
}
footer #list-of-themes {
  align-self: center;
  height: 354px;
  width: 973px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
footer #list-of-themes a:hover {
  color: #FFCC00;
}
footer #earth-sciences {
  margin-left: 52px;
}
footer #biography-true-stories {
  margin-right: -25px;
}
footer ul {
  list-style: none;
  height: 252px;
  width: 172px;
  padding: 0;
  margin: 0;
  line-height: 1.7;
}
footer ul li {
  border-bottom: 1px solid rgba(191, 191, 191, 0.23);
  white-space: nowrap;
}
footer ul li a {
  text-decoration: none;
  color: #dddddd;
}
footer h3 {
  font-size: 20px;
  font-weight: 300;
}

.banking {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  height: 96px;
  background-color: #303133;
}
.banking #accept {
  margin-top: 9px;
}
.banking .cards {
  margin-top: -5px;
}
.banking img {
  margin-left: 5px;
}

#bottom {
  display: flex;
  justify-content: center;
  font-size: 16px;
  border-top: 1px solid rgba(153, 153, 153, 0.24);
  height: 62px;
  background-color: #303133;
}
#bottom a {
  margin-top: 17px;
  text-decoration: none;
  color: #ffffff;
  padding-right: 4px;
}
#bottom a:hover {
  color: #FFCC00;
}
/*# sourceMappingURL=category-page.css.map */