@import "normalize.css";
@font-face {
  font-family: SegoeWP;
  src: url("../fonts/Segoe WP Regular.ttf");
}
$cw:996px;
$ff:SegoeWP;

body{
  display: flex;
    .main-wrapper{
      margin: auto;
      flex-basis: 1280px;
      font-family: $ff;
      border: solid 1px rgba(0, 0, 1, 0.16);
    }
}

@import "header";
@import "slide-bar";

#main-content-wrapper{
  margin-top: 14px;
  width: 1280px;
  display: flex;
  justify-content: center;
    .product-list-content{
     width: $cw;
      display: flex;
      justify-content: center;
@import "aside-left";
        section{
          width: 798px;
          height: 864px;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
            .product-list__nav{
              display: flex;
              justify-content: center;
              align-items: center;
              height: 39px;
              ul{
                display: flex;
                padding: 0;
                margin: 0;
                li{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  list-style: none;
                  width: 140px;
                  height: 37px;
                  border: solid 1px #d8dce0;
                  border-left: none;
                  background-color: rgba(216, 220, 224, 0.71);
                  text-shadow: 0.5px 0.9px 0 #fff;
                  font-size: 17px;
                  font-weight: 300;
                  color: #6b6969;
                  &:first-child{
                    font-weight: bold;
                    border-bottom: none;
                    border-left: solid 1px #d8dce0;
                    background-color: white;
                  }
                  .shadow{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 139px;
                    height: 37px;
                    border-left: solid 1px white;

                  }
                  .box-before{
                    position: absolute;
                    left:342px;
                    top: 553px;
                    height: 1px;
                    width: 1px;
                    background-color: #d8dce0;
                  }
                  .box-after{
                    position: absolute;
                    left:483px;
                    top: 553px;
                    height: 1px;
                    width: 1px;
                    background-color: #d8dce0;
                  }
                  a{
                    padding: 1px;
                    text-decoration: none;
                    color: black;
                    opacity: 75%;
                    &:hover{
                      font-size: 19px;
                    }
                  }
                }
              }
              .big-box{
                width: 232px;
                height: 38px;
                border-bottom: 1px solid #d8dce0;
              }
            }
          #page-number{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 138px;
            height: 28px;
            font-size: 16px;
            font-weight: 300;
            color: #646464;
            margin-left: 631px;
            margin-top: 21px;
            padding: 0;
            &:hover{
              color: #FFCC00;
            }
            div{
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              height: 28px;
              width: 24px;
              padding: 0;
              a{
                text-decoration: none;
                color: #646464;
                &:hover{
                  color: red;
                  font-size: 20px;
                  font-weight: bold;
                }
              }
            }
            .three{
              padding-top: 2px;
              height: 23px;
              border: 1px solid #bfbfbf;
              border-bottom: 4px solid #94bc6b;
            }
          }
            .product-list__best-sellers{
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: center;
              padding: 8px 5px 0 5px;
              border: solid 1px #d8dce0;
              border-top: none;
              height: 825px;
              div{
                position: relative;
                font-size: 15px;
                font-weight: 300;
                text-align: center;
                color: #646464;
                height: 256px;
                width: 125px;
                display: flex;
                flex-direction: column;
                padding-left: 9px;
                .discount{
                  align-self: end;
                  position: absolute;
                  margin-top: 4px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 50px;
                  width: 50px;
                  border:none;
                  border-radius: 50%;
                  background-color: #f05356;
                  padding: 0;
                  color: white;
                  font-size: 19px;
                    span{
                      color: #ffffff;
                      font-family: $ff;
                      font-size: 19px;
                      font-weight: bold;
                    }
                    .off{
                      font-size: 13px;
                      font-weight: normal;
                      color: #ffffff;
                    }
                }
                p{
                  margin: 0;
                }
                img{
                  height: 177px;
                }
                span{
                  display: block;
                  font-weight: bold;
                  font-size: 22px;
                  color: #f05356;
                }
              }
              .art{
                color: inherit;
                font: inherit;
              }
              .immortals{
                padding: 0 7px;
              }
            }
        }
    }
}

@import "footer";

